table td input{
    width: 100%;
}

#tb-list .tb-row:nth-child(2n+1) {
    background: gainsboro;
}

.p-0 {
    padding: 0 !important;
    margin: 0 !important;
}

.p-1{
    padding: 1px !important;
    margin: 1px !important;
}